<div class="container">
  <!-- Parte 8 -->
  <h1>Parte 8</h1>
  <app-ciclo [valorInicial]="valor" *ngIf="!deletarCiclo"></app-ciclo>
  <hr>
  <button class="btn btn-primary" (click)="mudarValor()" >Mudar valor</button><br>
  <button class="btn btn-primary" (click)="destruirCiclo()" >Deletar</button>
  <!-- Parte7 -->
  <h1>Parte 7</h1>
  <contador [valorOutput]='valorInicial'
  (mudouValor)="onMundouValor($event)"
  ></contador>
  <hr>
  <!-- Parte 6 -->
  <h1>Parte 6</h1>
  <app-input-property></app-input-property>
  <hr>
  <!-- Parte 5 -->
  <h1>Parte 5</h1>
  <app-two-way-data-binding></app-two-way-data-binding>
  <hr>
  <!-- Parte 4 -->
  <h1>Parte 4</h1>
  <app-event-binding></app-event-binding>

  <hr>
  <!-- Parte 3 -->
  <h1>Parte 3</h1>
  <p>Binding de classes e estilos</p>
  <app-binding-de-classes></app-binding-de-classes>

  <hr>
  <!-- Parte 2 -->

  <h1>Parte 2 do Curso</h1>
  <app-projeto2></app-projeto2>

  <!-- Parte 1 -->
  <hr>
  <h1>Parte 1 do Curso</h1>

  <h1>
    Introdução
  </h1>


  <app-meu-primeiro></app-meu-primeiro>

  <app-meu-primeiro2></app-meu-primeiro2>

  <router-outlet></router-outlet>

  <app-cursos></app-cursos>

  <hr>

</div>
